$screen: "only screen"

$xx-small: 280
$x-small: 320
$small: 480
$medium: 600
$x-medium: 800
$large: 1024
$x-large: 1280

$xx-small-up: "#{$screen} and (min-width: #{$xx-small + 1px})"
$x-small-up: "#{$screen} and (min-width: #{$x-small + 1px})"
$small-up: "#{$screen} and (min-width: #{$small + 1px})"
$medium-up: "#{$screen} and (min-width: #{$medium + 1px})"
$x-medium-up: "#{$screen} and (min-width: #{$x-medium + 1px})"
$large-up: "#{$screen} and (min-width: #{$large + 1px})"
$x-large-up: "#{$screen} and (min-width: #{$x-large + 1px})"
